.movie-card {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 20px;
    justify-content: flex-start;
}

.movie-image {
    width: 330px;
    display: block;
}

.image-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-container {
    position: relative;
}

.more-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    display: none;
}

.movie-image:hover + .more-icon {
    display: block;
    color: #111111;
}

.more-icon:hover {
    display: block;
    cursor: pointer;
    opacity: .5;
}


