.header {
    display: flex;
    justify-content: space-between;
    color: #f65261;
    font-size: 25px;
    font-family: Helvetica, serif;
    margin: 0 50px;
    align-items: center;
}

.add-movie-button {
    height: 50px;
    width: 150px;
    background-color: rgba(85, 85, 85, .5);
    color: #f65261;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    border: 0 solid;
    text-transform: uppercase;
}
